.wrapInput{
    position: relative;
    border: 1px solid gray;
}
.inputBlock{
    width: 90% ;
    margin: 10px 0;
}
.deleteButton{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 11px;
}
.changeButton{
    z-index: 100;
    position: absolute;
    right: 75px;
    top: 11px;
}
.StartCoursesInputBlock{
    width: 90% ;
    margin: 60px 0 10px 0;
}
.exit-style{
    width: 70px;
    height: 30px;
    margin: 25px 25px;
}